body {
    text-align: center;
}
#ucsdLogo {
    margin-bottom: -5vw;
}
#snapshotButton{
    width: 15vw;
    margin-top: 4vh;
    margin-bottom: -5vh;
}
video {
    object-fit: fill;
}
#mycanvas {
    object-fit: fill;
    z-index: 1;
}
#restartButton {
    width: 10vw;
}
#d1 {
    margin-top: -10vw;
    margin-left: 30vw;
    display:flex;
    justify-content: center;
    z-index: 5;
}
#header{
    margin-top: 34vw;
}
#field {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4vw;
}