body {
    text-align: center;
}
#ucsdLogo {
    margin-bottom: -5vw;
}
#snapshotButton{
    width: 15vw;
    margin-top: 4vh;
    margin-bottom: -5vh;
}
video {
    object-fit: fill;
}
#mycanvas {
    object-fit: fill;
}
#restartButton {
    width: 10vw;
}
#d1 {
    margin-top: -64vw;
    margin-left: 25vw;
    display:flex;
    justify-content: center;
}
#header{
    margin-top: 34vw;
}