body {
    text-align: center;
}
#ucsdLogo {
    margin-bottom: -5vw;
}
#d0 {
    position: absolute;
    display:flex;
    justify-content: center;
    margin-left: 49vw;
    margin-top: -7.5vw;
    z-index: -1;
}

#loadingRing {
    opacity: 0;
    position: absolute;
}
#snapshotButton{
    width: 15vw;
    margin-top: 4vh;
    margin-bottom: -5vh;
}
video {
    object-fit: fill;
}
#mycanvas {
    object-fit: fill;
    z-index: 1;
}
#restartButton {
    width: 10vw;
    opacity: 0.3;
}
#cameraButton {
    width: 10vw;
}
#d2{
    display:flex;
    justify-content: center;
    margin-top: -11vw;
    margin-right: 32vw;
}
#d1 {
    margin-top: -10vw;
    margin-left: 30vw;
    display:flex;
    justify-content: center;
    z-index: 5;
}
#header{
    margin-top: 34vw;
}
#field {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4vw;
    margin: 2vw;
}
#d3{
    pointer-events: none;
    position: absolute;
    margin-top: 30vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#nothingFoundText{
    pointer-events: none;
    opacity: 1;
    color: rgb(0, 0, 0);
    font-size: 8vw;
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-text-fill-color: transparent;
}

.fadeClass {
    /*-webkit-animation: fadeinout 4s ease-in forwards;
    animation: fadeinout 1s ease-out forwards;
    opacity: 0;*/
    /*
    opacity: 1;
    fill            : none;
    stroke          : black;
    stroke-width    : .5px;
    stroke-linejoin : round;
    animation       : 2s pulsate infinite;
    */
    /*-webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    */
    opacity: 1;
    background-image: linear-gradient(
    30deg,
    #000000 0%,
    #000000 29%,
    #ffffff 67%,
    #ffffff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #ffffff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-direction: alternate-reverse;
    animation: textclip 2.5s linear infinite;
    display: inline-block;
        font-size: 190px;

}

.fadeAnimClass{
    -webkit-animation: fadeinout 4s ease-in forwards;
    animation: fadeinout 4s ease-out forwards;
    opacity: 0;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

@keyframes strokefadein {
    40%{opacity: 1;  -webkit-text-stroke: 3px; -webkit-text-fill-color: transparent; -webkit-text-stroke-color: rgb(255, 255, 255);}
    50%{opacity: 1;  -webkit-text-stroke: 3px; -webkit-text-fill-color: transparent; -webkit-text-stroke-color: rgb(0, 0, 0);}
}

@-webkit-keyframes fadeinout {
  5% { opacity: 1; }
}

@keyframes fadeinout {
  95% { opacity: 1; }
}

  
  @keyframes pulsate {
    50%{ stroke-width:5px }
  }